.loginForm {
  background-color: #273243;
  border-radius: 3px;
  padding: 10px;
}

.registrationForm {
  background-color: #273243;
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
}

.jumbo {
  border-radius: 3px !important;
  background-color: #32B0A5;
  color: #eee;
}

.header {
  color: #333 !important;
}

