.wrapper {
  background-color: #7DC793;
  border-radius: 3px;
}

.validTo {
  text-align: right;
}

.location {
  margin-left: 5px;
}

.difficulty {
  background-color: #333;
}

.text {
  font-size: 1.1em;
}
